// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        0 {
            bindings = <    

&kp J       &mo 4       &kp C       &kp I        &kp BSPC       &kp A          &kp ENTER       &mo 2       &to 3         &kp O 
&kp COMMA   &kp S       &kp SPACE   &kp L        &kp V          &kp DOT        &kp P           &kp Z       &kp E         &kp B
&kp R       &kp D       &kp M       &kp G        &kp K          &kp U          &kp W           &kp Y       &kp H         &kp N
                                    &kp T        &kp LSHFT      &mo 1          &kp F14
            >;
        };

        1 {
            bindings = <

&kp N6      &kp FSLH    &kp STAR    &kp DOT      &kp BSPC       &kp F17        &kp F15         &none       &none         &kp F19 
&kp PLUS    &kp N8      &kp SPACE   &kp N1       &kp N4         &kp F16        &kp F20         &kp F21     &kp RIGHT     &none 
&kp N9      &kp N5      &kp N2      &kp N7       &kp N3         &kp F23        &kp F22         &kp UP      &kp F18       &kp DOWN
                                    &kp N0       &kp MINUS      &none          &kp LEFT
            >;
        };

        2 {
            bindings = <

&kp LBRC    &none       &kp RBKT    &kp AMPS     &kp LBKT       &kp TAB        &kp TILDE       &none       &none         &kp SEMI 
&none       &kp LPAR    &kp DLLR    &kp GRAVE    &kp LT         &kp BSLH       &kp HASH        &kp CARET   &kp UNDER     &none 
&kp RPAR    &kp GT      &kp PIPE    &kp RBRC     &kp PRCNT      &kp AT         &kp COLON       &kp SQT     &kp EQUAL     &kp EXCL
                                    &kp DQT      &none          &none          &kp QMARK
            >;
        };

        3 {
            bindings = <

&kp J       &kp LALT    &kp C       &kp I        &kp BSPC       &kp LCTL       &kp ENTER       &mo 1       &to 0         &kp LC(TAB) 
&none       &kp S       &kp SPACE   &kp L        &kp V          &kp RA(RIGHT)  &kp RC(LS(Z))   &kp F5      &kp RALT      &kp LC(W)
&kp R       &kp D       &kp M       &kp G        &kp K          &kp LA(TAB)    &kp LC(LS(TAB)) &kp LC(Z)   &kp RA(LEFT   &kp F24
                                    &kp T        &kp LSHFT      &mo 4          &kp F14
            >;
        };
4 {
            bindings = <
&kp Z       &none       &kp O       &kp A        &kp W          &kp END        &kp HOME        &none       &none         &kp C_NEXT 
&kp E       &kp F       &kp SPACE   &kp U        &kp B          &kp C_AC_PASTE &kp J           &kp RC(F18) &kp ESC       &kp RC(F17) 
&kp X       &kp N       &kp Y       &kp H        &kp P          &kp C_PP       &kp C_PREV      &kp L       &kp C_AC_COPY &kp DEL
                                    &kp Q        &kp LC(F)      &none          &kp F13
            >;
        };
    };
};
